@import 'tailwindcss';

:root {
	--background: #0f172a;
	--foreground: #e2e8f0;
	--primary: #063a2d;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-lexend);
}
