@import 'tailwindcss';

:root {
	--background: #0f172a;
	--foreground: #e2e8f0;
	--primary: #063a2d;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-lexend);
	@apply container px-4 py-8 mx-auto grid grid-rows-[auto_1fr_auto] min-h-screen gap-8;
}
