@import 'tailwindcss';

:root {
	--background: #0f172a;
	--foreground: #e2e8f0;
	--primary: #063a2d;
}

body {
	margin: 0;
	background: var(--background);
	color: var(--foreground);
	font-family:
		'Lexend',
		system-ui,
		-apple-system,
		sans-serif;
	min-height: 100vh;
}

@layer base {
	.container {
		@apply max-w-7xl mx-auto px-4 py-4;
	}
}

* {
	box-sizing: border-box;
}
